/*https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25*/
/*Box sizing (the nuclear option)*/
html {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Fix font rendering defaults */
html, button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

a, u, ins {
  text-decoration: none;
}

pre, code, samp, kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
}

input, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font-size: 100%;
}

ol, ul, dl {
  list-style: none;
}

:root {
  --main-color: #496600;
  --main-color-alt: hsl(77, 100%, 10%);
  --prompt: #d9ebad;
  --bg: radial-gradient(hsl(77, 90%, 40%), white);
  --pale: #edf8d0;
  --bright: #9c0;
  --invert: hsl(215, 79%, 55%);
  --invert: #5f0202;
  --head: #7a9f33;
  --georgia: bold 2.2em/1 Georgia, sans-serif;
  --georgiaform: bold italic 1.8em/1 Georgia, sans-serif;
  --deleter: bold italic 1.1em/1 Georgia, sans-serif;
  --label: 1.25em;
}

html {
  max-width: 100%;
  height: 100%;
}
html > body {
  font-size: 0.75em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  padding: 1em 0 0;
  margin: auto;
  text-align: center;
  background-color: var(--prompt);
  min-width: 100%;
  min-height: 100%;
}

h1 a {
  color: var(--invert);
}

h1,
h2 {
  font: var(--georgia);
}

h2 {
  font-size: 1.75em;
  margin: 1em 0;
}

h3 {
  margin: 0 0 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: solid 1px black;
  margin: 0 0 1em;
}

fieldset,
legend {
  border-radius: 10px;
}

select {
  font-size: 1rem;
}

h2 {
  color: var(--head);
  font-size: 1.5em;
}
h2.error {
  color: var(--invert);
}

label {
  font: var(--georgia);
  padding: 0.3em 0;
  font-size: 1em;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: auto;
}
table tr:nth-child(even) {
  background-color: var(--pale);
}

td {
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
  border: solid 0 var(--bright);
  border-width: 1px;
}
td:nth-child(even), td:last-child {
  border: solid 1px var(--bright);
  border-width: 0 1px 1px;
}

th {
  font: bold 1.1em Georgia, sans-serif;
  background-color: var(--bright);
  border: solid 1px white;
  border-width: 0 1px;
}
th:first-child {
  border-left-color: var(--bright);
}
th:last-child {
  border-right-color: var(--bright);
}

a {
  text-decoration: none;
  color: black;
}

table a {
  display: block;
}

th a {
  padding: 0.6em 0;
}

h1 {
  margin: 0 0 0.5em;
}
h1 span,
h1 a {
  display: block;
}

ul input {
  margin-left: 0.5em;
}

form {
  margin: 0 0 1em;
  padding: 0;
}
form li {
  padding: 0.2em 0;
}
form div {
  padding: 0.2em 0;
}
form .container {
  border-radius: 3px;
  display: inline-block;
}
form input[type=submit] {
  padding: 0.25em 0.5em;
  margin: 0.5em 0 0;
  cursor: pointer;
}
form p {
  margin: 0 0 1em;
}

footer > * {
  border: solid 1px black;
  border-radius: 0;
  font: 1em Arial, sans-serif;
  color: black;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5rem 0.75rem;
}
footer > *:hover {
  color: white;
  background-color: var(--bright);
}
footer span.current {
  background-color: var(--bright);
}

p a {
  display: inline-block;
}
p a:hover {
  text-decoration: none;
  background: black;
  color: white;
}

p a,
p .log input[type=submit] {
  font: bold 1em Georgia, serif;
  color: var(--head);
  border-radius: 10px;
  padding: 0.15em 0.3em;
  border: solid 1px black;
  background-color: white;
}

/* Preview */
.preview {
  margin: 0 auto 1em;
}

/* Button 
  .button {
      border: 0px;
      background-color: #00bfff;
      color: white;
      padding: 5px 15px;
      margin-left: 10px;
      border-radius: 4px;
  }
  */
.up {
  margin: 0;
}

.info {
  font: 1.1em Georgia, serif;
  font-style: italic;
  margin: 1em 0 0.5em;
}

.log {
  margin: 0 0 1em;
}

input[type=submit] {
  border: 1px solid black;
  color: white;
  border-radius: 20px;
  background-color: var(--main-color);
  font: 1em Arial;
  font: 1em/1.35 Georgia, serif;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.prompt {
  background-color: var(--invert);
  display: inline-block;
  padding: 1em;
  border: solid 1px black;
  border-radius: 8px;
  margin: 1em 0;
  color: white;
}
.prompt input[type=submit] {
  border-color: white;
  background-color: yellowgreen;
  color: black;
}
.prompt input[type=submit]:hover {
  color: white;
}

.commit {
  padding: 1em;
  border: solid 1px black;
}

.warning {
  background-color: black;
}

/*div form*/
.clientgroup {
  background-color: var(--prompt);
  background-image: radial-gradient(white, var(--prompt));
  padding: 1em;
  border: solid 1px;
  border-radius: 8px;
  line-height: 2;
  font-weight: bold;
  margin: 0 auto 1em;
  width: clamp(300px, 30vw, 600px);
  font: bold italic 1.2em/1.8 Georgia, serif;
}
.clientgroup a {
  display: block;
  color: var(--main-color);
}
.clientgroup a:nth-child(even) {
  color: var(--main-color-alt);
}
.clientgroup a:hover {
  color: var(--invert);
}

.select,
.clientlist {
  padding: 1em;
}

.select {
  border-radius: 20px;
  padding: 0.7em;
}

.clientlist {
  background-color: var(--prompt);
}

.name {
  margin: 0 0 0.3em;
}

.upload,
.update,
.searcher {
  display: inline-block;
}

.select,
.fieldset,
form.clientlist {
  border: solid 1px black;
  border-radius: 5px;
}

/*div form*/
form.clientlist {
  display: inline-block;
}

form[name=loginform] {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border: solid 1px;
  border-radius: 8px;
  background-color: var(--prompt);
  width: clamp(300px, 60vw, 1000px);
}
form[name=loginform] input {
  flex: 3 1 10em;
}
form[name=loginform] input:last-child {
  flex: 1 1 1em;
}

form[name=edituserform] {
  margin: 0 0 1em;
}
form[name=edituserform] p {
  font: var(--georgiaform);
  color: white;
  text-shadow: 1px 1px 1px black;
}

form[name=usersform] {
  background-color: var(--prompt);
  border-radius: 8px;
  width: clamp(318px, 50vw, 1000px);
}
form[name=usersform] > ul {
  border-radius: 8px;
}
form[name=usersform] > ul li {
  display: flex;
  column-gap: 3px;
}
form[name=usersform] > ul li label {
  flex: 10 1 1em;
  text-align: right;
  align-self: center;
}
form[name=usersform] > ul li input {
  flex: 40 1 1em;
  padding: 0.3em 0;
}
form[name=usersform] fieldset {
  margin: 1em 0;
  font: var(--georgiaform);
  color: var(--main-color);
  font-size: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}
form[name=usersform] fieldset legend {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
  padding: 0.25em 1em;
  color: black;
  font-style: normal;
}
form[name=usersform] fieldset label {
  color: black;
  font-style: normal;
}
form[name=usersform] > div {
  text-align: center;
}
form[name=usersform] > div fieldset select {
  font-size: 1rem;
  margin: 0 auto;
}
form[name=usersform] > div fieldset:last-child {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}
form[name=usersform][action="?editform"] input[type=checkbox] {
  flex: 1 1 1em;
  margin: auto;
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=usersform][action="?editform"] label[for=delete] {
  flex: 3 1 1em;
  padding: 1.2em 0;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 0%;
  display: inline-block;
  height: 10px;
  width: 10px;
  align-self: center;
  text-indent: 10px;
  overflow: hidden;
  border: none;
  text-indent: 35px;
}
form[name=usersform][action="?editform"] #delete:checked + label {
  background-color: red;
}
form[name=usersform][action="?editform"] input#password {
  flex: 36 1 1em;
}
form[name=usersform].override {
  background-color: var(--bright);
}

form[name=uploadform] {
  padding: 1em;
  margin: 0 auto 1em;
  border: solid 1px;
  border-radius: 8px;
  background-color: white;
  width: clamp(300px, 70vw, 700px);
}
form[name=uploadform] > div {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;
}
form[name=uploadform] > div input,
form[name=uploadform] > div select {
  flex: 2 1 1em;
  background-color: #5f0202;
}
form[name=uploadform] > div label {
  text-align: right;
  flex: 2 1 4em;
}
form[name=uploadform] > div input[type=submit] {
  margin: 0.5em 0 0;
  flex: 0 0 auto;
}

form.choose {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: 8px;
  padding: 1em;
  width: clamp(300px, 40vw, 600px);
}

form[name=editclientform] {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: 8px;
  width: clamp(300px, 30vw, 600px);
  padding: 1em 0;
}
form[name=editclientform] h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0 0 0.4em;
}
form[name=editclientform] > input {
  margin: 1em 0 0;
}

form[name=search] {
  padding: 1em;
  background-color: var(--prompt);
  width: clamp(300px, 70vw, 600px);
  margin: 1em auto;
  border-radius: 8px;
}

form[name=search] div {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
}

form[name=search] div label {
  flex: 1 1 1em;
  text-align: right;
}

form[name=search] div :not(label, input[type=submit]) {
  flex: 4 1 1em;
}

form[name=search] input[name=text] {
  width: clamp(200px, 60%, 300px);
}

form[name=search] select {
  font-size: 1rem;
}

form[name=search] input[type=search] {
  font-size: 1rem;
  padding: 0.5em 0;
}

div#upload {
  margin: 0 auto;
  width: clamp(320px, 70vw, 1000px);
}
div#upload > table {
  width: 100%;
  margin: 0 auto 1em;
}

form[name=logoutform] {
  border-width: 0;
  padding: 0;
  margin: 0;
}

p.ret {
  margin: 1em 0;
}

.edit ~ p,
.clients .commit ~ p {
  margin: 1em 0 0;
}

form[name=deletions] {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}
form[name=deletions] label {
  font-weight: normal;
  font-size: var(--label);
  display: block;
}
form[name=deletions] label span {
  font-weight: bold;
}
form[name=deletions] label span:before {
  content: '"';
}
form[name=deletions] label span:after {
  content: '"';
}
form[name=deletions] label:hover {
  color: yellow;
}
form[name=deletions] input[type=radio] {
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=deletions] input[type=radio]:checked + label {
  color: yellowgreen;
}
form[name=deletions] input[type=submit] {
  margin: 0.5em auto 0;
  display: block;
  cursor: pointer;
}
form[name=deletions] label[for=cancel] {
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=deletions] input:checked ~ label[for=cancel] {
  position: relative;
  left: 0;
  text-align: center;
}
form[name=deletions].span {
  text-align: left;
}
form[name=deletions].span input[type=submit] {
  text-align: center;
}

.searcher fieldset,
.upload fieldset {
  background-color: var(--prompt);
}

.searcher legend,
.upload legend,
.commit legend,
.edit legend {
  padding: 0.4em;
  color: #c6e085;
  background-color: black;
  font: bold 1.1em Georgia, serif;
}

th.control {
  vertical-align: middle;
}

tr.admin {
  background-color: white;
}

footer {
  margin: 1em 0;
}

section#prompt {
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
}

form[name=clientform] {
  width: clamp(30em, 50%, 60em);
  margin: 0 auto 1em;
  border-radius: 8px;
  border: solid 1px;
  background-color: var(--prompt);
  padding: 1em 1em 1em 0.5em;
}
form[name=clientform] div {
  display: flex;
  column-gap: 0.5em;
}
form[name=clientform] div input {
  flex: 32 1 1em;
  padding: 1em 0;
}
form[name=clientform] div label {
  text-align: right;
  flex: 4 1 1em;
}
form[name=clientform] div:last-of-type {
  margin: 0 0 1em;
}
form[name=clientform][action="?editform"] div:last-of-type input {
  flex: 30 1 1em;
}
form[name=clientform][action="?editform"] div:last-of-type input[type=checkbox] {
  flex: 0 0 auto;
  margin: auto;
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=clientform][action="?editform"] div:last-of-type label[for=delete] {
  flex: 1 1 1em;
  padding: 1.2em 0;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 0%;
  display: inline-block;
  height: 10px;
  width: 10px;
  align-self: center;
  text-indent: 10px;
  overflow: hidden;
  border: none;
  text-indent: 35px;
}
form[name=clientform][action="?editform"] div:last-of-type #delete:checked + label {
  background-color: red;
}

form[name=downloads] div input {
  cursor: pointer;
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 33%;
  display: inline-block;
  height: 30px;
  width: 30px;
  align-self: center;
  text-indent: 30px;
  overflow: hidden;
  border: none;
}
form[name=downloads] div input:hover {
  background-color: var(--invert);
}

#yesno {
  margin: 0;
  font: var(--deleter);
}
#yesno label {
  cursor: pointer;
  font-size: var(--label);
  opacity: 0.5;
}
#yesno label:hover {
  opacity: 1;
}
#yesno input[type=radio] {
  position: absolute;
  left: -9999px;
  top: auto;
}
#yesno input[type=radio]:checked + label {
  opacity: 1;
}
#yesno input:last-child {
  display: block;
  margin: 1em auto 0;
}

#upload > table > tbody > tr > td[title=delete] div input {
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 0%;
  display: inline-block;
  height: 30px;
  width: 30px;
  align-self: center;
  text-indent: 30px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
#upload > table > tbody > tr > td[title=delete] div input:hover {
  background-color: darkred;
}

form[name=updatefileinfo] {
  margin: 0 0 1em;
}
form[name=updatefileinfo] > div {
  display: flex;
  justify-content: center;
  column-gap: 0.4em;
}
form[name=updatefileinfo] > div input[type=text],
form[name=updatefileinfo] > div select {
  flex: 4 1 10em;
}
form[name=updatefileinfo] > div label {
  flex: 1 1 1em;
  text-align: right;
}
form[name=updatefileinfo] > div input[type=text] {
  min-width: 30em;
}

@media screen and (min-width: 768px) {
  html body {
    text-align: center;
  }
  body > * {
    margin: 1em auto;
  }
  form[name=usersform],
form[name=updatefileinfo],
.searcher {
    text-align: left;
  }
  form[name=updatefileinfo] > div,
.searcher div:last-child,
table th {
    text-align: center;
  }
  .commit div:last-of-type {
    margin: 0;
  }
  .fieldset > div {
    margin: 0.3em 0;
  }
  form[name=edituserform] {
    margin: 0.5em 0;
  }
  #canvas {
    margin: 0 auto;
  }
  .searcher fieldset {
    margin: 0;
  }
  table {
    margin: 0 auto;
  }
  form[name=loginform] div {
    display: inline-block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  html body {
    width: 70%;
  }
  form[name=usersform] {
    padding: 1em;
    margin: 0 auto 1em;
  }
}
@media screen and (max-width: 767px) {
  #canvas .select,
#canvas form[name=edituserform]:last-child {
    margin-bottom: 0;
  }
  #canvas form,
#canvas form[name=clientsform].select {
    margin-bottom: 1em;
  }
  form[name=clientform].commit + p {
    margin: 0 0 1em;
  }
}
@media screen and (max-width: 667px) and (orientation: portrait) {
  div.select {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  div.select {
    font-size: 0.8em;
  }
  .button button {
    padding: 0;
    width: 16px;
    height: 14px;
  }
}
@supports (background-size: contain) {
  button.action {
    background-size: 100%;
  }
}
@supports (column-gap: 20px) {
  .edit form {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    column-gap: 0.4em;
    margin: 0 auto;
  }
  .edit form fieldset {
    grid-column-start: 1;
    grid-column-end: 20;
  }
  .edit form > div {
    grid-column-start: 19;
    grid-column-end: 20;
  }
  .edit form .select {
    grid-column-start: 1;
    grid-column-end: 19;
  }
  .button button {
    width: 30px;
    height: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
