
@media screen and (min-width: 768px) {
	html body {
		border: solid 1px #808080;
		text-align: center;
	}
	html>body {
		margin: 2% auto;
		width: 50%;
		box-shadow: 0 0 20px #000;
		padding: 2em;
		background-color: white;
	}
	html {
		background-color: #f6fbe9;
	}
	body>* {
		margin: 1em auto;
	}
	form[name="usersform"], form[name="updatefileinfo"], form[name="deletions"] p, .searcher, table tr {
		text-align: left;
	}
	form[name="updatefileinfo"]>div, .searcher div:last-child, table th {
		text-align: center;
	}
	.commit div:last-of-type {
		margin: 0;
	}
	.fieldset>div {
		margin: .3em 0;
	}
	form[name="edituserform"] {
		margin: .5em 0;
	}
	#canvas {
		margin: 0 auto;
	}
	.searcher fieldset {
		margin: 0;
	}
	table {
		margin: 0 auto;
	}
	form[name="loginform"] div {
		display: inline-block;
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) and (orientation: portrait) {
	html body {
		width: 70%;
	}
}
@media screen and (max-width: 767px) {
   
    #canvas .select, #canvas form[name="edituserform"]:last-child {
        margin-bottom: 0;
    }
     #canvas form, #canvas form[name="clientsform"].select {
        margin-bottom: 1em;
    }
    form[name="clientform"].commit + p {
        margin: 0 0 1em;
    }
}

@media screen and (max-width: 667px) and (orientation:portrait) {
	div.select {
		font-size: .9em;
	}
}

@media screen and (max-width: 320px) and (orientation:portrait) {
	div.select{
		font-size: .8em;
	}
    .button button {
        padding: 0;
        width: 16px;
        height: 14px;
    }
}

@supports(background-size: contain) {
    button.action {
    background-size: 100%;
}
}

@supports(column-gap: 20px) {
.edit form {
   display: grid;
   grid-template-columns: repeat(19, 1fr);
   column-gap: .4em;
   margin: 0 auto;
}
.edit form fieldset {
   grid-column-start: 1;
   grid-column-end: 20;
}
.edit form > div {
   grid-column-start: 19;
   grid-column-end: 20;
}

.edit form .select {
   grid-column-start: 1;
   grid-column-end: 19;
}
    .button button{
        width: 30px;
        height: 25px;
    }
    
}