:root {
  --main-color: #496600;
  --main-color-alt: hsl(77, 100%, 10%);
  --prompt: #d9ebad;
  --pale: #edf8d0;
  --georgia: bold 2.2em/1 Georgia, sans-serif;
  --georgiaform: bold italic 1.8em/1 Georgia, sans-serif;
  --deleter: bold italic 1.1em/1 Georgia, sans-serif;
  --invert: #8560cc;
}

@mixin trash($dim: 25px, $pos: center 0%, $col: var(--main-color)) {
  background-image: url(../assets/trash_sprite.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $col;
  background-position: $pos;
  display: inline-block;
  height: $dim;
  width: $dim;
  align-self: center;
  text-indent: $dim;
  overflow: hidden;
  border: none;
}
@mixin hide($top: auto) {
  position: absolute;
  left: -9999px;
  top: $top;
}

body {
  font-size: 0.75em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  padding: 1em 0 0;
}
h1,
h2 {
  font: var(--georgia);
}
h2 {
  font-size: 1.75em;
  margin: 1em 0;
}
h3 {
  margin: 0 0 1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em;
}
fieldset {
  border: solid 1px #000;
  margin: 0 0 1em;
}
fieldset,
legend {
  border-radius: 10px;
}
select {
  font-size: 1rem;
}
h2 {
  color: #7a9f33;
  font-size: 1.5em;
  &.error {
    color: var(--invert);
  }
}
label {
  font-size: 1em;
  font-weight: bold;
  padding: 0.3em 0;
}
table {
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: auto;
  tr:nth-child(even) {
    background-color: var(--pale);
  }
}
td {
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
  border: solid 0 #9c0;
  border-width: 1px;
  &:nth-child(even),
  &:last-child {
    border: solid 1px #9c0;
    border-width: 0 1px 1px;
  }
}
th {
  font: bold 1.1em Georgia, sans-serif;
  background-color: #9c0;
}
a {
  text-decoration: none;
  color: #000;
}
table a {
  display: block;
}
th a {
  padding: 0.6em 0;
}
h1 {
  margin: 0 0 0.5em;
  span,
  a {
    display: block;
  }
}

ul input {
  margin-left: 0.5em;
}
form li {
  padding: 0.2em 0;
}
form div {
  padding: 0.2em 0;
}
.container {
  border-radius: 3px;
  display: inline-block;
}

input[type="submit"] {
  padding: 0.25em 0.5em;
}

footer {
  > * {
    border-width: 0;
    border-radius: 0;
    font: 1em Arial, sans-serif;
    color: #000;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em 0.75em;
    &:hover {
      color: white;
      background-color: #9c0;
    }
  }
  span.current {
    background-color: #9c0;
  }
}

p {
  a {
    display: inline-block;
    &:hover {
      text-decoration: none;
      background: #000;
      color: white;
    }
  }
}

p a,
.log input[type="submit"] {
  font: bold 1em Georgia, serif;
  color: #6e9900;
  border-radius: 10px;
  padding: 0.15em 0.3em;
  border: solid 1px #000;
}
/* Preview */

.preview {
  margin: 0 auto 1em;
}
/* Button 
  
  .button {
      border: 0px;
      background-color: #00bfff;
      color: white;
      padding: 5px 15px;
      margin-left: 10px;
      border-radius: 4px;
  }
  */
.up {
  margin: 0;
}
.info {
  font: 1.1em Georgia, serif;
  font-style: italic;
  margin: 1em 0 0.5em;
}
.log {
  margin: 0 0 1em;
}
.prompt {
  background-color: var(--prompt);
  display: inline-block;
  padding: 1em;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 1em 0;
}
.commit {
  padding: 1em;
  border: solid 1px #000;
}
.warning {
  background-color: #000;
}
/*div form*/

.clientgroup {
  background-color: var(--prompt);
  background-image: radial-gradient(white, var(--prompt));
  padding: 1em;
  border: solid 1px;
  border-radius: 8px;
  line-height: 2;
  font-weight: bold;
  margin: 0 auto 1em;
  width: clamp(300px, 30vw, 600px);
  font: bold italic 1.2em/1.8 Georgia, serif;
  a {
    display: block;
    color: var(--main-color);
    &:nth-child(even) {
      color: var(--main-color-alt);
    }
    &:hover {
      color: rgb(0, 119, 255);
    }
  }
}

.select,
.clientlist {
  padding: 1em;
}
.select {
  border-radius: 20px;
  padding: 0.7em;
}
.clientlist {
  background-color: var(--prompt);
}
.name {
  margin: 0 0 0.3em;
}
.upload,
.update,
.searcher {
  display: inline-block;
}
.select,
.fieldset,
form.clientlist {
  border: solid 1px #000;
  border-radius: 5px;
}

/*div form*/

form.clientlist {
  display: inline-block;
}

form[name="loginform"] {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border: solid 1px;
  border-radius: 8px;
  background-color: var(--prompt);
  width: clamp(300px, 60vw, 1000px);
  input {
    flex: 3 1 10em;
    &:last-child {
      flex: 1 1 1em;
    }
  }
}

form[name="edituserform"] {
  p {
    font: var(--georgiaform);
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  margin: 0 0 1em;
}

form[name="usersform"] {
  background-color: var(--prompt);
  border: solid 1px;
  padding: 0.5em;
  margin: 0 auto 1em;
  border-radius: 8px;
  width: clamp(300px, 50vw, 1000px);
  > ul {
    border-radius: 8px;
    padding: 1em;
    li {
      display: flex;
      column-gap: 3px;

      label {
        flex: 10 1 1em;
        text-align: right;
        &[for="delete"] {
          flex: 3 1 1em;
        }
      }
      input {
        flex: 40 1 1em;

        &[type="checkbox"] {
          flex: 1 1 1em;
          margin: auto;
        }
        &#password {
          flex: 34 1 1em;
        }
      }
    }
  }
  > fieldset {
    margin: 1em 0;
    text-align: left;
    font: var(--georgiaform);
    color: var(--main-color);
    font-size: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    legend {
      background-color: rgba(255, 255, 255, 1);
      font-size: 1rem;
      text-align: center;
      padding: 0.25em 1em;
      color: black;
      font-style: normal;
    }
    label {
      color: black;
      font-style: normal;
    }
  }
  > div {
    select {
      font-size: 1rem;
    }
    &:last-child {
      margin: 0.5em 0;
      display: flex;
      justify-content: center;
    }
  }
}

form[name="uploadform"] {
  padding: 1em;
  margin: 0 auto 1em;
  border: solid 1px;
  border-radius: 8px;
  background-color: var(--prompt);
  width: clamp(300px, 70vw, 700px);
  > div {
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
    input,
    select {
      flex: 7 1 1em;
    }
    label {
      text-align: right;
      flex: 2 1 2em;
    }
    input[type="submit"] {
      margin: 0.5em 0 0;
      flex: 0 0 auto;
    }
  }
}

form.choose {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: 8px;
  padding: 1em;
  width: clamp(300px, 40vw, 600px);
}

form[name="editclientform"] {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: 8px;
  width: clamp(300px, 30vw, 600px);
  padding: 1em 0;
  h1 {
    color: white;
    text-shadow: (1px 1px 1px black);
    margin: 0 0 0.4em;
  }
  > input {
    margin: 1em 0 0;
  }
}

form[name="search"] {
  padding: 1em;
  background-color: var(--prompt);
  width: clamp(300px, 70vw, 600px);
  margin: 1em auto;
}

form[name="search"] div {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
}

form[name="search"] div label {
  flex: 1 1 1em;
  text-align: right;
}
form[name="search"] div :not(label, input[type="submit"]) {
  flex: 4 1 1em;
}
form[name="search"] input[name="text"] {
  width: clamp(200px, 60%, 300px);
}

form[name="search"] select {
  font-size: 1rem;
}
form[name="search"] input[type="search"] {
  font-size: 1rem;
  padding: 0.5em 0;
}
div#upload {
  margin: 0 auto;
  width: clamp(320px, 80vw, 1000px);

  > table {
    width: 100%;
    margin: 0 auto 1em;
  }
}
form[name="logoutform"] {
  border-width: 0;
}
p.ret {
  margin: 1em 0;
}


input[type="text"] {
  font-size: 1em;
  height: 1.5em;
}
input[type="submit"] {
  border: 1px solid #000;
  color: white;
  border-radius: 20px;
  background-color: #496600;
  font: 1em Arial;
  font: 1em/1.35 Georgia, serif;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
.edit ~ p,
.clients .commit ~ p {
  margin: 1em 0 0;
}
form[name="deletions"] {
  padding: 0;
}
.searcher fieldset,
.upload fieldset {
  background-color: var(--prompt);
}
.searcher legend,
.upload legend,
.commit legend,
.edit legend {
  padding: 0.4em;
  color: #c6e085;
  background-color: #000;
  font: bold 1.1em Georgia, serif;
}

th.control {
  vertical-align: middle;
}
tr.admin {
  background-color: white;
}
footer {
  margin: 1em 0;
}
section#prompt {
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
}

form[name="clientform"] {
  width: clamp(30em, 50%, 60em);
  margin: 0 auto 1em;
  border-radius: 8px;
  border: solid 1px;
  background-color: var(--prompt);
  padding: 1em 1em 1em 0.5em;
  div {
    display: flex;
    column-gap: 0.5em;
    input {
      flex: 32 1 1em;
    }

    label {
      text-align: right;
      flex: 4 1 1em;
    }
    &:last-of-type {
      margin: 0 0 1em;
    }
    &:last-of-type {
      input {
        flex: 25 1 1em;
      }
      input[type="checkbox"] {
        flex: 0 0 auto;
        margin: auto;
      }
    }
  }
}

form[name="downloads"] div input {
  cursor: pointer;
  @include trash(30px, center 33%);
  &:hover {
    background-color: orange;
  }
}

#yesno {
  margin: 0;
  font: var(--deleter);
  background-color: white;
  box-shadow: inset 0 0 10px 5px var(--prompt);
  label {
    cursor: pointer;
    @include trash(30px);
    opacity: 0.5;
    &:last-of-type {
      @include trash(30px, center 67%);
    }
  }
  input[type="radio"] {
    @include hide;
    &:checked + label {
      opacity: 1;
    }
  }
  input:last-child {
    display: block;
    margin: 1em auto 0;
  }
}

#upload > table > tbody > tr > td:last-child div input {
  @include trash(30px);
  cursor: pointer;
  &:hover {
    background-color: darkred;
  }
}

form[name="updatefileinfo"] {
  // padding: 1em clamp(1em, 20%, 10em) 1em clamp(1em, 20%, 10em);
  margin: 0 0 1em;

  > div {
    display: flex;
    justify-content: center;
    column-gap: 0.4em;
    input[type="text"],
    select {
      flex: 4 1 10em;
    }
    label {
      flex: 1 1 1em;
      text-align: right;
    }
    input[type="text"] {
      min-width: 30em;
    }
  }
}
