:root {
  --main-color: #496600;
  --main-color-alt: hsl(77, 100%, 10%);
  --prompt: #d9ebad;
  --bg: radial-gradient(hsl(77, 90%, 40%), white);
  --pale: #edf8d0;
  --bright: hsl(75, 80%, 45%);
  --invert: hsl(215, 79%, 55%);
  --invert: #5f0202;
  --invert: hsl(77, 100%, 10%);
  --head: #7a9f33;
  --georgia: bold 2.2em/1 Georgia, sans-serif;
  --georgiaform: bold italic 1.8em/1 Georgia, sans-serif;
  --deleter: bold 1rem/1 Georgia, sans-serif;
  --label: 1.25em;
  --button: 12px;
}

@mixin trash(
  $dim: 25px,
  $pos: center 0%,
  $col: var(--main-color),
  $url: "../assets/trashsprite.png"
) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $col;
  background-position: $pos;
  display: inline-block;
  height: $dim;
  width: $dim;
  align-self: center;
  text-indent: $dim;
  overflow: hidden;
  border: none;
}
@mixin hide($top: auto) {
  position: absolute;
  left: -9999px;
  top: $top;
}

@mixin show() {
  position: relative;
  left: 0;
}

html {
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  > body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1em;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: auto;
    text-align: center;
    //box-shadow: 0 0 20px black;
    //background-color: var(--prompt);
    min-width: 100%;
    > p {
      margin: 0 0 0.5em;
    }
    > main {
      flex: 1;
    }
  }
}
input[type="search"] {
  -webkit-appearance: textfield;
 // background-color: white;
  //border-radius: 20px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



#admin_user,
#admin_client {
  background-color: var(--pale);
  main form {
    background-color: rgba(255, 255, 255, 0.5);
    &#yesno {
      background-color: var(--invert);
    }
  }
}
#admin_client {
  background-color: var(--prompt);
}
select {
  width: 100%;
 // font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-style: normal;
  font-size: 1rem;
  -webkit-appearance: initial;
  line-height: 2;
  text-indent: .5rem;
  background-color: white;
  color: var(--main-color);
  border: solid 1px;
  border-radius: var(--button);
}
h1 a {
  color: white;
}
h1,
h2 {
  font: var(--georgia);
}

h1 {
  padding: 0.75em 0;
  background-color: var(--invert);
  border: solid 1px white;
  border-width: 0 0 1px;
  color: white;
}
h2 {
  font-size: 1.75em;
  margin: 1em 0;
}
h3 {
  margin: 0 0 1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
fieldset {
  border: solid 1px black;
  margin: 0 0 1em;
}
fieldset,
legend {
  border-radius: 10px;
}

h2 {
  color: var(--head);
  font-size: 1.5em;
  &.error {
    color: var(--invert);
  }
}
label {
  font: var(--georgia);
  padding: 0.3em 0;
  font-size: 1em;
}
table {
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: auto;
  background-color: white;
  width: 100%;
  tr:nth-child(even) {
    background-color: var(--pale);
  }
}
td {
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
  border: solid 0 var(--bright);
  border-width: 1px;
  &:nth-child(even),
  &:last-child {
    border: solid 1px var(--bright);
    border-width: 0 1px 1px;
  }
  &:nth-child(n+2){
    white-space: nowrap;
  }
}
th {
  font: bold 1.1em Georgia, sans-serif;
  background-color: var(--bright);
  border: solid 1px white;
  border-width: 0 1px;
  text-align: center;
  &:first-child {
    border-left-color: var(--bright);
  }
  &:last-child {
    border-right-color: var(--bright);
  }
}
a {
  text-decoration: none;
  color: black;
}
table a {
  display: block;
}
th a {
  padding: 0.6em 0;
}
h1 {
  margin: 0 0 0.5em;
  span,
  a {
    display: block;
  }
}

ul input {
  margin-left: 0.5em;
}
form {
  margin: 0 0 1em;
  padding: 0;
  input[type="submit"] {
    padding: 0.25em 0.5em;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
  }
  p {
    margin: 0 0 1em;
  }
}
main > p {
  margin: 1em 0;
}

footer {
  background-color: var(--invert);
  padding: 1.2rem 0;
  border: solid 1px white;
  border-width: 1px 0 0;
  > * {
    color: white;
    border: solid 1px white;
    border-radius: 0;
    font: 1em Arial, sans-serif;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5rem 0.75rem;
    //background-color: white;
    border-radius: var(--button);
    &:hover {
      color: white;
      // background-color: var(--bright);
    }
  }
  > form {
    display: block;
  }
  span.current {
    background-color: var(--bright);
    color: black;
  }

  #upload & {
    padding: 1rem 0;
    &.paginate form {
      margin: -2em 0 1em;
    }
  }
}

p {
  a {
    display: inline-block;
    &:hover {
      text-decoration: none;
      background: black;
      color: white;
    }
  }
  &.call {
    margin: 0 0 1em;
  }
}

p {
  a,
  .log input[type="submit"] {
    font: bold 1em Georgia, serif;
    color: var(--head);
    border-radius: var(--button);
    padding: 0.15em 0.3em;
    border: solid 1px black;
    background-color: white;
  }
}
/* Preview */

.preview {
  margin: 0 auto 1em;
}
/* Button 
  .button {
      border: 0px;
      background-color: #00bfff;
      color: white;
      padding: 5px 15px;
      margin-left: 10px;
      border-radius: 4px;
  }
  */
.up {
  margin: 0;
}
.info {
  font: 1.1em Georgia, serif;
  font-style: italic;
  margin: 1em 0 0.5em;
}
.log {
  margin: 0 0 1em;
}

input[type="submit"] {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  background-color: var(--main-color);
  font: 1em/1.35 Georgia, serif;
  font-style: italic;
  font-weight: bold;
  margin: 1em 0 0;
}

.prompt {
  background-color: var(--invert);
  display: inline-block;
  padding: 1em;
  border-radius: var(--button);
  margin: 1em 0;
  color: white;
  input[type="submit"] {
    border-color: white;
    background-color: yellowgreen;
    color: black;
    &:hover {
      color: white;
    }
  }
}
/*
.commit {
  padding: 1em;
  border: solid 1px black;
}
.warning {
  background-color: black;
}
  */
/*div form*/

.clientgroup {
  background-color: var(--prompt);
  background-image: radial-gradient(white, var(--prompt));
  padding: 1em;
  border: solid 1px;
  border-radius: var(--button);
  line-height: 2;
  font-weight: bold;
  margin: 0 auto 1em;
  width: clamp(300px, 30vw, 600px);
  font: bold italic 1.2em/1.8 Georgia, serif;
  a {
    display: block;
    color: var(--main-color);
    &:nth-child(even) {
      color: var(--main-color-alt);
    }
    &:hover {
      color: var(--invert);
    }
  }
}

form[name="loginform"] {
  margin: 0 auto;
  background-color: var(--prompt);
  width: clamp(300px, 60vw, 1000px);
  text-align: center;
  line-height: 1.75;
  > * {
    display: inline-block;
  }
  input {
    width: 100%;
    &[type="submit"] {
      margin: 1em 0 0;
      width: auto;
    }
  }
}

form.details {
  background-color: var(--prompt);
  border-radius: var(--button);
  padding: 1em;
  width: clamp(318px, 98vw, 768px);
  margin: 0 auto 1em;
  font: var(--deleter);

  input {
    padding: 1em 0.2em;
    display: block;
    width: 100%;
    &[type="submit"] {
      width: auto;
      padding: 0.5em 1em;
      margin: 1em auto 0;
    }
    &[type="file"] {
      background-color: white;
      border-radius: var(--button);
    }
  }
  select {
    padding: 0.5em;
    font-size: 1rem;
  }
  label {
    display: block;
    margin: 0.5em 0;
  }
}
form[name="usersform"] {
  fieldset {
    margin: 1em auto;
    text-align: left;
    font: var(--georgiaform);
    color: var(--main-color);
    font-size: 0.75em;
    padding: 1em 0;
    width: clamp(320px, 100%, 580px);
    background-color: rgba(255, 255, 255, 0.5);
    &:last-of-type {
      padding: 1em;
    }

    legend {
      background-color: rgba(255, 255, 255, 1);
      font-size: 1rem;
      text-align: center;
      padding: 0.25em 1em;
      color: black;
      font-style: normal;
    }
    > div {
      margin: 0 0 0.4em;
      display: table;
      border-collapse: separate;
      border-spacing: 1em 0;
      position: relative;
      line-height: 1.2;
      border-bottom: dotted 1px;
      * {
        vertical-align: middle;
      }
      span {
        display: table-cell;
        text-align: left;
        width: 100%;
      }
      label {
        color: black;
        font-style: normal;
        white-space: nowrap;
        display: table-cell;
        min-width: 8em;
        padding: 0;
        text-align: left;
      }
      input[type="radio"] {
        display: table-cell;
        height: 100%;
        width: 100%;
      }
    }
  }
  fieldset {
    select:first-of-type {
      margin: 0 auto;
      width: 100%;
      font: var(--deleter);
    }
    &:last-child {
      margin: 0.5em 0;
      display: flex;
      justify-content: center;
    }
  }

  &.override {
    background-color: var(--bright);
  }
}

form[name="uploadform"] {
  text-align: center;
  width: clamp(300px, 98vw, 800px);
}

form.choose {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: var(--button);
  padding: 1em;
  font: var(--deleter);
  width: clamp(300px, 10vw, 800px);
}

form[name="editclientform"] {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: var(--button);
  width: clamp(300px, 30vw, 600px);
  padding: 1em 0;
  h1 {
    color: white;
    text-shadow: (1px 1px 1px black);
    margin: 0 0 0.4em;
  }
  > input {
    margin: 1em 0 0;
  }
}

form[name="search"] div :not(label, input[type="submit"]) {
  flex: 4 1 1em;
}
div#upload {
  margin: 1em auto 0;

  > table {
    font-size: calc(12px + 2 * ((100vw - 751px) / (1280 - 751)));
    width: clamp(320px, 95vw, 1000px);
    margin: 0 auto 1em;
    form {
      margin: 0;
      input[type="submit"] {
        padding: 0;
        margin: 0;
      }
    }
  }
}
form[name="logoutform"] {
  border-width: 0;
  padding: 0;
  margin: 0;
  #upload & input {
    position: relative;
    background-color: var(--invert);
    &:hover {
      background-color: black;
    }
  }
  #upload .paginate & input {
    top: 0;
  }
}
p.ret {
  margin: 1em 0;
}

.edit ~ p,
.clients .commit ~ p {
  margin: 1em 0 0;
}

form[name="deletions"] {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  label {
    font-weight: normal;
    font-size: var(--label);
    display: block;
    span {
      font-weight: bold;
      &:before {
        content: '"';
      }
      &:after {
        content: '"';
      }
    }
    &:hover {
      color: yellow;
    }
  }
  input[type="radio"] {
    @include hide;
    &:checked + label {
      color: yellowgreen;
    }
  }

  input[type="submit"] {
    margin: 0.5em auto 0;
    display: block;
    cursor: pointer;
  }

  label[for="cancel"] {
    @include hide;
  }
  input:checked ~ label[for="cancel"] {
    @include show;
    text-align: center;
  }
  &.span {
    text-align: left;
    input[type="submit"] {
      text-align: center;
    }
  }
}

th.control {
  vertical-align: middle;
}
tr.admin {
  background-color: white;
}
footer {
  margin: 1em 0 0;
  form[name="logoutform"] {
    margin: 0;
    border-radius: 19px;
    input[type="submit"] {
      margin: 0;
    }
  }
}
section#prompt {
  margin: 1em 0;
  padding: 1em;
  border-radius: var(--button);
}

form[name="downloads"] div input {
  cursor: pointer;
  @include trash(30px, center 33%);
  &:hover {
    background-color: var(--invert);
  }
}

#yesno {
  margin: 0 0 1em;
  font: var(--deleter);
  label {
    cursor: pointer;
    font-size: var(--label);
    // @include trash(30px, center 0%, red, "../assets/yesno.png");
    opacity: 0.5;
    &:last-of-type {
      // @include trash(30px, center 17%, red, "../assets/yesno.png");
    }
    &:hover {
      opacity: 1;
    }
  }
  input[type="radio"] {
    @include hide;
    &:checked + label {
      opacity: 1;
    }
  }
  input:last-child {
    display: block;
    margin: 1em auto 0;
  }
}

#upload > table > tbody > tr > td[title="delete"] div input {
  @include trash(30px);
  cursor: pointer;
  &:hover {
    background-color: darkred;
  }
}

form[name="updatefileinfo"] {
  > * {
    display: block;
    text-align: center;
    width: 100%;
  }
  input {
    padding: 0.5em 0;
    &[type="submit"] {
      width: auto;
      padding: 0.5em;
      margin: 1em auto 0;
    }
  }
}
