:root {
  --main-color: hsl(155, 100%, 18%);
  --prompt: hsl(80, 80%, 75%);
  --bg: radial-gradient(hsl(77, 90%, 40%), white);
  --pale: hsl(80, 70%, 85%);
  --bright: hsl(80, 80%, 60%);
  --bg: hsl(155, 100%, 9%);
  --contrast: hsl(300, 100%, 20%);
  --head: hsl(80, 70%, 30%);
  --georgia: bold 2.2em/1 Georgia, sans-serif;
  --georgiaform: bold italic 1.8em/1 Georgia, sans-serif;
  --default: bold 1em/1 Georgia, sans-serif;
  --label: 1.25em;
  --button: 12px;
}

@mixin trash(
  $dim: 25px,
  $pos: center 0%,
  $col: var(--main-color),
  $url: "../assets/trashsprite.png"
) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $col;
  background-position: $pos;
  display: inline-block;
  height: $dim;
  width: $dim;
  align-self: center;
  text-indent: $dim;
  overflow: hidden;
  border: none;
}
@mixin hide($top: auto) {
  position: absolute;
  left: -9999px;
  top: $top;
}

@mixin show() {
  position: relative;
  left: 0;
}

html {
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  > body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1em;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    margin: auto;
    text-align: center;
    //box-shadow: 0 0 20px black;
    //background-color: var(--prompt);
    min-width: 100%;
    > p {
      margin: 0 0 0.5em;
    }
    > main {
      flex: 1;
    }
    background-color: paleturquoise;
  }
}

h1 {
  padding: 0.75em 0;
  background-color: var(--bg);
  border: solid 1px white;
  border-width: 0 0 1px;
  a,
  & {
    color: white;
  }
  + p {
    width: clamp(300px, 50vw, 1000px);
    margin: 0 auto;
    font: var(--default);
    color: var(--contrast);
  }
}

h2 {
  color: var(--head);
  font-size: 1.5em;
  margin: 1em 0;
  &.error {
    color: var(--bg);
  }
}
h3 {
  margin: 0 0 1em;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: auto;
  background-color: white;
  width: 100%;
  tr:nth-child(even) {
    background-color: var(--pale);
  }
  tr.admin {
    background-color: white;
  }

  td {
    padding: 0.25em;
    vertical-align: middle;
    text-align: center;
    border: solid 0 var(--bright);
    border-width: 1px;
    &:nth-child(even),
    &:last-child {
      border: solid 1px var(--bright);
      border-width: 0 1px 1px;
    }
    &:nth-child(n + 2) {
      white-space: nowrap;
    }
  }
  th {
    padding: 0.75em 0;
    font: bold 1.1em Georgia, sans-serif;
    background-color: var(--bright);
    border: solid 1px white;
    border-width: 0 1px;
    text-align: center;
    &:first-child {
      border-left-color: var(--bright);
    }
    &:last-child {
      border-right-color: var(--bright);
    }
    &.control {
      vertical-align: middle;
    }
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0.6em 0;
  }
}

form {
  position: relative;
  margin: 0 auto 1em;
  padding: 0;

  > a.cancel {
    display: block;
    position: absolute;
    font: var(--default);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    right: 0.3em;
    top: 0.3em;
    color: var(--main-color);
    &:hover {
      color: var(--contrast);
    }
  }
  input[type="submit"] {
    padding: 0.25em 0.5em;
    cursor: pointer;
    font: var(--default);
    background-color: var(--bg);
    &:hover {
      background-color: black;
      background-color: var(--contrast);
    }
  }
  label {
    font: var(--georgia);
    padding: 0.3em 0;
    font-size: 1em;
  }
  fieldset {
    border: solid 1px black;
    margin: 0 0 1em;
    legend,
    & {
      border-radius: 10px;
      font: var(--georgia);
    }
  }
  p {
    margin: 0 0 1em;
  }
  select {
    // width: 100%;
    // font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    // font-style: normal;
    //font-size: 1rem;
    -webkit-appearance: initial;
    line-height: 2;
    text-indent: 0.5rem;
    //background-color: white;
    color: var(--main-color);
    border: solid 1px;
    border-radius: var(--button);
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    // background-color: white;
    //border-radius: 20px;
  }

  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

form.details {
  background-color: var(--prompt);
  border-radius: var(--button);
  padding: 3em 1em 1em;
  width: clamp(318px, 98vw, 768px);
  //  font: var(--default);
  input {
    padding: 1em 0.2em;
    display: block;
    width: 100%;
    &[type="submit"] {
      width: auto;
      padding: 0.5em 1em;
      margin: 1em auto 0;
    }
    &[type="file"] {
      background-color: white;
      border-radius: var(--button);
    }
    &[type="radio"] {
      width: auto;
      padding: 0;
    }
  }
  select {
    padding: 0.5em;
    font-size: 1rem;
  }
  label {
    display: block;
    margin: 0.5em 0;
  }
}

main {
  a {
    color: var(--bg);
  }
  h2 a {
    color: var(--contrast);
  }
  > p {
    margin: 1em auto;
    a {
      display: inline-block;
      &:hover {
        text-decoration: none;
        background: var(--bg);
        color: var(--bright);
        color: white;
      }
    }
    &.call {
      margin: 1em auto;
    }
  }
}

footer {
  background-color: var(--bg);
  padding: 1.2rem 0;
  border: solid 1px white;
  border-width: 1px 0 0;
  margin: 1em 0 0;
  > * {
    color: white;
    border: solid 1px white;
    border-radius: 0;
    font: 1em Arial, sans-serif;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5rem 0.75rem;
    border-radius: var(--button);
  }
  a:hover {
    color: black;
    background-color: var(--pale);
  }
  > form {
    display: block;
    margin: 0;
    border-radius: 19px;
    input[type="submit"] {
      margin: 0;
    }
  }
  span.current {
    background-color: var(--bright);
    color: black;
  }
  #upload & {
    padding: 1rem 0;
    &.paginate form {
      margin: -2em 0 1em;
    }
  }
  input[type="submit"] {
    background-color: var(--main-color);
  }
} ///footer

p {
  a,
  .log input[type="submit"] {
    font: bold 1em Georgia, serif;
    color: var(--head);
    border-radius: var(--button);
    padding: 0.15em 0.3em;
    border: solid 1px black;
    background-color: white;
  }
}

input[type="submit"] {
  border: 1px solid rgb(255, 255, 200);
  color: white;
  border-radius: 20px;
  background-color: var(--main-color);
  font: 1em/1.35 Georgia, serif;
  margin: 1em 0 0;
}

form[name="uploadform"] {
  width: clamp(300px, 98vw, 800px);
}

form.choose {
  border: solid 1px;
  background-color: var(--prompt);
  border-radius: var(--button);
  padding: 1em;
  font: var(--default);
  width: clamp(300px, 10vw, 800px);
  select {
    width: 100%;
  }
}

.prompt {
  background-color: var(--bg);
  display: inline-block;
  padding: 1em;
  border-radius: var(--button);
  margin: 1em 0;
  color: white;
  input[type="submit"] {
    border-color: white;
    background-color: yellowgreen;
    color: black;
    &:hover {
      color: white;
    }
  }
}

.clientgroup {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  border: solid 1px;
  border-radius: var(--button);
  line-height: 2;
  font-weight: bold;
  margin: 0 auto 1em;
  width: clamp(300px, 30vw, 600px);
  font: bold 1.2em/1.8 Georgia, serif;
  text-align: left;
  a {
    display: block;
    color: var(--bg);
    &:nth-child(even) {
      color: var(--main-color);
    }
    &:hover {
      color: var(--contrast);
    }
  }
}

form[name="loginform"] {
  margin: 0 auto;
  background-color: var(--prompt);
  width: clamp(300px, 60vw, 1000px);
  text-align: center;
  line-height: 1.75;
  > * {
    display: inline-block;
  }
  input {
    width: 100%;
    &[type="submit"] {
      margin: 1em auto 0;
    }
  }
}

form[name="usersform"] {
  fieldset {
    margin: 1em auto;
    text-align: left;
    color: var(--main-color);
    font-size: 0.88em;
    padding: 1em 0;
    width: clamp(320px, 100%, 580px);
    background-color: rgba(255, 255, 255, 0.5);
    &:last-of-type {
      padding: 1em;
    }
    legend {
      background-color: rgba(255, 255, 255, 1);
      font-size: 1rem;
      text-align: center;
      padding: 0.25em 1em;
      color: black;
      font-style: normal;
      border: solid 1px;
      //font: var(--georgiaform);
    }
    > div {
      margin: 0 0 0.4em;
      //display: table;
      border-collapse: separate;
      border-spacing: 1em 0;
      position: relative;
      border-bottom: dotted 1px;
      position: relative;
      * {
        vertical-align: middle;
      }
      span {
        //display: table-cell;
        text-align: left;
        width: 100%;
        display: block;
        padding: 0 0 0.5em;
        @include hide;
        font-size: 0.9em;
      }
      label {
        color: black;
        font-style: normal;
        white-space: nowrap;
        // display: table-cell;
        min-width: 7em;
        padding: 0;
        text-align: left;
      }
      input[type="radio"] {
        display: inline-block;
        margin: 0 0.3em;
        &:checked ~ span {
          display: block;
          @include show;
          text-indent: 2em;
        }
      }
    }
  }
  fieldset {
    select:first-of-type {
      margin: 0 auto;
      width: 100%;
    }
    &:last-child {
      margin: 0.5em 0;
      display: flex;
      justify-content: center;
    }
  }

  #admin_user &.override {
    background-color: rgba(0, 0, 0, 0.1);
  }
} //usersform

form[name="editclientform"] {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: var(--button);
  width: clamp(300px, 30vw, 600px);
  padding: 1em 0;
  h1 {
    color: white;
    text-shadow: (1px 1px 1px black);
    margin: 0 0 0.4em;
  }
  > input {
    margin: 1em 0 0;
  }
}

div#upload {
  margin: 1em auto 0;
  > table {
    font-size: calc(12px + 2 * ((100vw - 751px) / (1280 - 751)));
    width: clamp(320px, 95vw, 1000px);
    margin: 0 auto 1em;
    form {
      margin: 0;
      input[type="submit"] {
        padding: 0;
        margin: 0;
      }
    }
  }
}
form[name="logoutform"] {
  border-width: 0;
  padding: 0;
  margin: 0;
  #upload & input {
    position: relative;
    background-color: var(--bg);
    &:hover {
      background-color: var(--contrast);
      border-color: silver;
    }
  }
  #upload .paginate & input {
    top: 0;
  }
}

.edit ~ p,
.clients .commit ~ p {
  margin: 1em 0 0;
}

form[name="deletions"] {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  label {
    font-weight: normal;
    font-size: var(--label);
    display: block;
    span {
      font-weight: bold;
      &:before {
        content: '"';
      }
      &:after {
        content: '"';
      }
    }
    &:hover {
      color: yellow;
    }
  }
  input[type="radio"] {
    @include hide;
    &:checked + label {
      color: yellowgreen;
    }
  }

  input[type="submit"] {
    margin: 0.5em auto 0;
    display: block;
    cursor: pointer;
  }

  label[for="cancel"] {
    @include hide;
  }
  input:checked ~ label[for="cancel"] {
    @include show;
    text-align: center;
  }
  &.span {
    text-align: left;
    input[type="submit"] {
      text-align: center;
    }
  }
} //deletions

form[name="downloads"] div input {
  cursor: pointer;
  @include trash(30px, center 33%);
  &:hover {
    background-color: var(--bg);
  }
}

#yesno {
  margin: 0 0 1em;
  font: var(--default);
  label {
    cursor: pointer;
    font-size: var(--label);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  input[type="radio"] {
    @include hide;
    &:checked + label {
      opacity: 1;
    }
  }
  input:last-child {
    display: block;
    margin: 1em auto 0;
  }
}

#upload > table > tbody > tr > td[title="delete"] div input {
  @include trash(30px);
  cursor: pointer;
  &:hover {
    background-color: darkred;
  }
}

#admin_user,
#admin_client {
  background-color: var(--pale);
  main {
    > form {
      background-color: rgba(255, 255, 255, 0.5);
      &#yesno, &.prompt {
        background-color: var(--bg);
      }
      
    }
  }
}
#admin_client {
  background-color: var(--prompt);
  //have a decent margin if no optional button is present
  h1 + form {
    margin: 3em auto 0;
  }
}
