/*buttons only present on mobile sites. so no need for MQ*/
button.action {
    width: 30px;
    height: 25px;
    display: block;
    background-image: url(../icons/sprite_lo_res.png);
    background-position: center 0;
    background-repeat: no-repeat;
    border-width: 0;
    padding: 0;
    background-color: transparent;
    border: solid 0px #000;
  }
  button.download {
    background-position: center;
  }
  button.update {
    background-position: center bottom;
  }
  
  .commit label {
    width: auto;
  }
  .up td {
    text-align: right;
    border: 0px;
  }
  form[name="deletions"] {
    border-width: 0;
  }
  .clientlist li,
  .clientlist li > * {
    display: inline-block;
    vertical-align: middle;
  }
  .select select {
    font: bold 1em Arial, sans-serif;
  }
  .warning legend {
    border: solid 1px #fff;
  }
  
  .edit span {
    font-style: italic;
  }
  .clientlist input {
    margin: 0 0.3em 0 0;
  }
  .preview img {
    position: absolute;
    left: -9999px;
    width: 100%;
    height: auto;
    display: block;
  }
  .Yes p,
  .Yes {
    margin: 0;
    border: 0;
  }
  button.action image {
    width: 100%;
    height: auto;
    display: block;
  }
  th a:hover {
    color: white;
    text-decoration: none;
    background-color: #7caa09;
  }


  .name label {
    font-family: Georgia, serif;
    font-size: 1.3em;
    color: #496600;
    padding: 0.3em 0 0;
  }
  h1.admin a {
    color: #000080;
  }
  h1.manager a {
    color: #006400;
  }
  h1.browser a {
    color: #708090;
  }
  h1.edit a,
  h2.edit a {
    color: #496600;
  }
  div.clientlist form {
    padding: 0.5em;
    border: solid 1px #000;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 0 1em;
  }
  div.clientlist form:last-child {
    margin: 0;
  }
  div.clientlist {
    margin: 0 0 1em;
  }
  /*form div*/
  
  .clientlist .name {
    display: block;
    font-size: 110%;
    border-bottom: dotted 1px;
  }
  .upload.warning {
    padding: 1em;
  }
  footer + .commit {
    margin: 1em 0;
  }
  input[type="submit"]:hover {
    background-color: #000;
  }
  .up td:last-child {
    text-align: left;
  }
  .users p.ret,
  .clients p.ret {
    position: absolute;
    left: -9999px;
  }
  .commit fieldset,
  .fieldset,
  .select,
  .edit fieldset,
  .edit .select + div {
    background-color: var(--prompt);
  }
  
  .edit .select {
    margin: 0;
    border-radius: 5px;
  }
  .edit .select + div {
    padding: 0.6em;
    border: solid 1px #000;
    border-radius: 5px;
  }

  .warning fieldset:first-child {
    border: solid 1px white;
    position: relative;
    left: 0;
  }

  .log input[type="submit"],
  .upload input[type="submit"] {
    padding: 0.2em 0.4em;
    font: bold 1.1em Georgia, serif;
    background: #000;
    color: white;
  }

  .log input[type="submit"]:hover,
  .upload input[type="submit"]:hover {
    color: #6e9900;
  }
  .upload input[type="submit"]:disabled:hover {
    color: #666666;
  }
  .update input[type="submit"]:hover,
  .commit input[type="submit"]:hover {
    color: orangered;
    border: solid 1px #f00;
  }
  form[name="deletions"] div.fieldset {
    padding: 1em;
  }
  .xrole fieldset:last-of-type {
    background-color: #496600;
    color: var(--prompt);
  }
  .upload input[type="submit"]:disabled,
  .upload input[type="submit"][disabled] {
    border: 1px solid #999;
    background-color: #ccc;
    color: #666;
  }
  
  .update,
.editclient,
.fieldset,
.commit,
.select,
div.clientlist,
.edit .select + div {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
a:hover {
  text-decoration: underline;
}