@media screen and (min-width: 499px) {
  form.details {
    label {
      width: 25%;
      display: inline-block;
      text-align: right;
      margin-right: 2%;
    }
    input, select {
      display: inline-block;
      margin: 0 0 1em;
      width: 72%;
    }
    input[type=submit] {
      display: block;
    }

    & > div {
      width: clamp(300px, 100%, 650px);
    }
    #roles {
      label,
      input {
        width: auto;
      }
    }
    input[type="radio"] {
      margin: 0;
    }
  }

  form[name="clientform"] {
    input {
      width: 75%;
      &:last-of-type {
        width: auto;
        display: block;
      }
    }
    label {
      width: 20%;
    }
  }
}

@media screen and (min-width: 768px) {
  html body {
    text-align: center;
    // font-size: calc(16px - 2 * ((100vw - 751px) / (1280 - 751)));
  }
}
/*
  form[name="usersform"],
  form[name="updatefileinfo"],
  .searcher {
    text-align: left;
  }

  form[name="updatefileinfo"] > div,
  .searcher div:last-child,
  table th {
    text-align: center;
  }
  .commit div:last-of-type {
    margin: 0;
  }
  .fieldset > div {
    margin: 0.3em 0;
  }
  form[name="edituserform"] {
    margin: 0.5em 0;
  }
  #canvas {
    margin: 0 auto;
  }
  .searcher fieldset {
    margin: 0;
  }
  table {
    margin: 0 auto;
  }
  form[name="loginform"] div {
    display: inline-block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {

}
*/

@keyframes slide-in {
  from {
    translate: 0 -50vw;
    // height: 0;
  }

  to {
    translate: 0 0;
    // height: calc-size(auto);
  }
}

#yesno/*, form[name=updatefileinfo], form[name=search]*/ {
  animation-duration: 1s;
  animation-name: slide-in;
}

form[name="updatefileinfo"],
form[name="search"],
form[name="uploadform"] {
  // background-image: radial-gradient(var(--prompt), white 88%);
  background-color: var(--pale);
  border: solid 1px black;
 // font: var(--deleter);
}
