/*https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25*/
/*Box sizing (the nuclear option)*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Fix font rendering defaults */
html, button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

a, u, ins {
  text-decoration: none;
}

pre, code, samp, kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
}

input, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font-size: 100%;
}

ol, ul, dl {
  list-style: none;
}

:root {
  --font-base: "Inter", sans-serif;
  --main-color: hsl(155, 100%, 18%);
  --prompt: hsl(80, 80%, 75%);
  --bg: radial-gradient(hsl(77, 90%, 40%), white);
  --pale: hsl(80, 70%, 85%);
  --bright: hsl(80, 80%, 60%);
  --bg: hsl(155, 100%, 9%);
  --contrast: hsl(300, 100%, 20%);
  --head: hsl(80, 70%, 30%);
  --georgia: bold 2.2em/1 Georgia, sans-serif;
  --georgiaform: bold italic 1.8em/1 Georgia, sans-serif;
  --default: bold 1em/1 Georgia, sans-serif;
  --label: 1.25em;
  --button: 12px;
}

html {
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html > body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1em;
  color: #111111;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: auto;
  text-align: center;
  min-width: 100%;
  background-color: seashell;
}
html > body > p {
  margin: 0 0 0.5em;
}
html > body > main {
  flex: 1;
}

h1 {
  padding: 0.75em 0;
  background-color: var(--bg);
  border: solid 1px white;
  border-width: 0 0 1px;
}
h1 a, h1 {
  color: white;
}
h1 + p {
  width: clamp(300px, 50vw, 1000px);
  margin: 0 auto;
  font: var(--default);
  color: var(--contrast);
}

h2 {
  color: var(--head);
  color: red;
  font-size: 1.5em;
  margin: 1em 0;
}
h2.error {
  color: var(--bg);
}

h3 {
  margin: 0 0 1em;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
  table-layout: auto;
  background-color: white;
  width: 100%;
}
table tr:nth-child(even) {
  background-color: var(--pale);
}
table tr.admin {
  background-color: white;
}
table td {
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
  border: solid 0 var(--bright);
  border-width: 1px;
}
table td:nth-child(even), table td:last-child {
  border: solid 1px var(--bright);
  border-width: 0 1px 1px;
}
table td:nth-child(n+2) {
  white-space: nowrap;
}
table th {
  padding: 0.75em 0;
  font: bold 1.1em Georgia, sans-serif;
  background-color: var(--bright);
  border: solid 1px white;
  border-width: 0 1px;
  text-align: center;
}
table th:first-child {
  border-left-color: var(--bright);
}
table th:last-child {
  border-right-color: var(--bright);
}
table th.control {
  vertical-align: middle;
}
table a {
  text-decoration: none;
  color: black;
  padding: 0.6em 0;
}

form {
  position: relative;
  margin: 0 auto 1em;
  padding: 0;
}
form > a.cancel {
  display: block;
  position: absolute;
  font: var(--default);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  right: 0.3em;
  top: 0.3em;
  color: var(--main-color);
}
form > a.cancel:hover {
  color: var(--contrast);
}
form input[type=submit] {
  padding: 0.25em 0.5em;
  cursor: pointer;
  font: var(--default);
  background-color: var(--bg);
}
form input[type=submit]:hover {
  background-color: black;
  background-color: var(--contrast);
}
form label {
  font: var(--fontbase);
  padding: 0.3em 0;
  font-size: 1em;
}
form fieldset {
  border: solid 1px black;
  margin: 0 0 1em;
}
form fieldset legend, form fieldset {
  border-radius: 10px;
  font: var(--fontbase);
}
form p {
  margin: 0 0 1em;
}
form select {
  -webkit-appearance: initial;
  line-height: 2;
  text-indent: 0.5rem;
  color: var(--main-color);
  border: solid 1px;
  border-radius: var(--button);
}
form input[type=search] {
  -webkit-appearance: textfield;
}
form input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

form.details {
  background-color: var(--prompt);
  border-radius: var(--button);
  padding: 3em 1em 1em;
  width: clamp(318px, 98vw, 768px);
}
form.details input {
  padding: 1em 0.2em;
  display: block;
  width: 100%;
}
form.details input[type=submit] {
  width: auto;
  padding: 0.5em 1em;
  margin: 1em auto 0;
}
form.details input[type=file] {
  background-color: white;
  border-radius: var(--button);
}
form.details input[type=radio] {
  width: auto;
  padding: 0;
}
form.details select {
  padding: 0.5em;
  font-size: 1rem;
}
form.details label {
  display: block;
  margin: 0.5em 0;
}

main a {
  color: var(--bg);
}
main h2 a {
  color: var(--contrast);
}
main > p {
  margin: 1em auto;
}
main > p a {
  display: inline-block;
}
main > p a:hover {
  text-decoration: none;
  background: var(--bg);
  color: var(--bright);
  color: white;
}
main > p.call {
  margin: 1em auto;
}

footer {
  background-color: var(--bg);
  padding: 1.2rem 0;
  border: solid 1px white;
  border-width: 1px 0 0;
  margin: 1em 0 0;
}
footer > * {
  color: white;
  border: solid 1px white;
  border-radius: 0;
  font: 1em Arial, sans-serif;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5rem 0.75rem;
  border-radius: var(--button);
}
footer a:hover {
  color: black;
  background-color: var(--pale);
}
footer > form {
  display: block;
  margin: 0;
  border-radius: 19px;
}
footer > form input[type=submit] {
  margin: 0;
}
footer span.current {
  background-color: var(--bright);
  color: black;
}
#upload footer {
  padding: 1rem 0;
}
#upload footer.paginate form {
  margin: -2em 0 1em;
}
footer input[type=submit] {
  background-color: var(--main-color);
}

p a,
p .log input[type=submit] {
  font: bold 1em Georgia, serif;
  color: var(--head);
  border-radius: var(--button);
  padding: 0.15em 0.3em;
  border: solid 1px black;
  background-color: white;
}

input[type=submit] {
  border: 1px solid rgb(255, 255, 200);
  color: white;
  border-radius: 20px;
  background-color: var(--main-color);
  font: 1em/1.35 Georgia, serif;
  margin: 1em 0 0;
}

form[name=uploadform] {
  width: clamp(300px, 98vw, 800px);
}

form.choose {
  border: solid 1px;
  background-color: var(--prompt);
  border-radius: var(--button);
  padding: 1em;
  font: var(--default);
  width: clamp(300px, 10vw, 800px);
}
form.choose select {
  width: 100%;
}

.prompt {
  background-color: var(--bg);
  display: inline-block;
  padding: 1em;
  border-radius: var(--button);
  margin: 1em 0;
  color: white;
}
.prompt input[type=submit] {
  border-color: white;
  background-color: yellowgreen;
  color: black;
}
.prompt input[type=submit]:hover {
  color: white;
}

.clientgroup {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  border: solid 1px;
  border-radius: var(--button);
  line-height: 2;
  font-weight: bold;
  margin: 0 auto 1em;
  width: clamp(300px, 30vw, 600px);
  font: bold 1.2em/1.8 Georgia, serif;
  text-align: left;
}
.clientgroup a {
  display: block;
  color: var(--bg);
}
.clientgroup a:nth-child(even) {
  color: var(--main-color);
}
.clientgroup a:hover {
  color: var(--contrast);
}

form[name=loginform] {
  margin: 0 auto;
  background-color: var(--prompt);
  width: clamp(300px, 60vw, 1000px);
  text-align: center;
  line-height: 1.75;
}
form[name=loginform] > * {
  display: inline-block;
}
form[name=loginform] input {
  width: 100%;
}
form[name=loginform] input[type=submit] {
  margin: 1em auto 0;
}

form[name=usersform] fieldset {
  margin: 1em auto;
  text-align: left;
  color: var(--main-color);
  font-size: 0.88em;
  padding: 1em 0;
  width: clamp(320px, 100%, 580px);
  background-color: rgba(255, 255, 255, 0.5);
}
form[name=usersform] fieldset:last-of-type {
  padding: 1em;
}
form[name=usersform] fieldset legend {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
  padding: 0.25em 1em;
  color: black;
  font-style: normal;
  border: solid 1px;
}
form[name=usersform] fieldset > div {
  margin: 0 0 0.4em;
  border-collapse: separate;
  border-spacing: 1em 0;
  position: relative;
  border-bottom: dotted 1px;
  position: relative;
}
form[name=usersform] fieldset > div * {
  vertical-align: middle;
}
form[name=usersform] fieldset > div span {
  text-align: left;
  width: 100%;
  display: block;
  padding: 0 0 0.5em;
  position: absolute;
  left: -9999px;
  top: auto;
  font-size: 0.9em;
}
form[name=usersform] fieldset > div label {
  color: black;
  font-style: normal;
  white-space: nowrap;
  min-width: 7em;
  padding: 0;
  text-align: left;
}
form[name=usersform] fieldset > div input[type=radio] {
  display: inline-block;
  margin: 0 0.3em;
}
form[name=usersform] fieldset > div input[type=radio]:checked ~ span {
  display: block;
  position: relative;
  left: 0;
  text-indent: 2em;
}
form[name=usersform] fieldset select:first-of-type {
  margin: 0 auto;
  width: 100%;
}
form[name=usersform] fieldset:last-child {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}
#admin_user form[name=usersform].override {
  background-color: rgba(0, 0, 0, 0.1);
}

form[name=editclientform] {
  border: solid 1px;
  background-color: var(--prompt);
  margin: 0 auto 1em;
  border-radius: var(--button);
  width: clamp(300px, 30vw, 600px);
  padding: 1em 0;
}
form[name=editclientform] h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0 0 0.4em;
}
form[name=editclientform] > input {
  margin: 1em 0 0;
}

div#upload {
  margin: 1em auto 0;
}
div#upload > table {
  font-size: calc(12px + 2 * (100vw - 751px) / 529);
  width: clamp(320px, 95vw, 1000px);
  margin: 0 auto 1em;
}
div#upload > table form {
  margin: 0;
}
div#upload > table form input[type=submit] {
  padding: 0;
  margin: 0;
}

form[name=logoutform] {
  border-width: 0;
  padding: 0;
  margin: 0;
}
#upload form[name=logoutform] input {
  position: relative;
  background-color: var(--bg);
}
#upload form[name=logoutform] input:hover {
  background-color: var(--contrast);
  border-color: silver;
}
#upload .paginate form[name=logoutform] input {
  top: 0;
}

.edit ~ p,
.clients .commit ~ p {
  margin: 1em 0 0;
}

form[name=deletions] {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}
form[name=deletions] label {
  font-weight: normal;
  font-size: var(--label);
  display: block;
}
form[name=deletions] label span {
  font-weight: bold;
}
form[name=deletions] label span:before {
  content: '"';
}
form[name=deletions] label span:after {
  content: '"';
}
form[name=deletions] label:hover {
  color: yellow;
}
form[name=deletions] input[type=radio] {
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=deletions] input[type=radio]:checked + label {
  color: yellowgreen;
}
form[name=deletions] input[type=submit] {
  margin: 0.5em auto 0;
  display: block;
  cursor: pointer;
}
form[name=deletions] label[for=cancel] {
  position: absolute;
  left: -9999px;
  top: auto;
}
form[name=deletions] input:checked ~ label[for=cancel] {
  position: relative;
  left: 0;
  text-align: center;
}
form[name=deletions].span {
  text-align: left;
}
form[name=deletions].span input[type=submit] {
  text-align: center;
}

form[name=downloads] div input {
  cursor: pointer;
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 33%;
  display: inline-block;
  height: 30px;
  width: 30px;
  align-self: center;
  text-indent: 30px;
  overflow: hidden;
  border: none;
}
form[name=downloads] div input:hover {
  background-color: var(--bg);
}

#yesno {
  margin: 0 0 1em;
  font: var(--default);
}
#yesno label {
  cursor: pointer;
  font-size: var(--label);
  opacity: 0.5;
}
#yesno label:hover {
  opacity: 1;
}
#yesno input[type=radio] {
  position: absolute;
  left: -9999px;
  top: auto;
}
#yesno input[type=radio]:checked + label {
  opacity: 1;
}
#yesno input:last-child {
  display: block;
  margin: 1em auto 0;
}

#upload > table > tbody > tr > td[title=delete] div input {
  background-image: url("../assets/trashsprite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-position: center 0%;
  display: inline-block;
  height: 30px;
  width: 30px;
  align-self: center;
  text-indent: 30px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
#upload > table > tbody > tr > td[title=delete] div input:hover {
  background-color: darkred;
}

#admin_user,
#admin_client {
  background-color: var(--pale);
}
#admin_user main > form,
#admin_client main > form {
  background-color: rgba(255, 255, 255, 0.5);
}
#admin_user main > form#yesno, #admin_user main > form.prompt,
#admin_client main > form#yesno,
#admin_client main > form.prompt {
  background-color: var(--bg);
}

#admin_client {
  background-color: var(--prompt);
}
#admin_client h1 + form {
  margin: 3em auto 0;
}

@media screen and (min-width: 499px) {
  form.details label {
    width: 25%;
    display: inline-block;
    text-align: right;
    margin-right: 2%;
  }
  form.details input, form.details select {
    display: inline-block;
    margin: 0 0 1em;
    width: 72%;
  }
  form.details input[type=submit] {
    display: block;
  }
  form.details > div {
    width: clamp(300px, 100%, 650px);
  }
  form.details #roles label,
form.details #roles input {
    width: auto;
  }
  form.details input[type=radio] {
    margin: 0;
  }
  form[name=clientform] input {
    width: 75%;
  }
  form[name=clientform] input:last-of-type {
    width: auto;
    display: block;
  }
  form[name=clientform] label {
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  html body {
    text-align: center;
  }
}
/*
  form[name="usersform"],
  form[name="updatefileinfo"],
  .searcher {
    text-align: left;
  }

  form[name="updatefileinfo"] > div,
  .searcher div:last-child,
  table th {
    text-align: center;
  }
  .commit div:last-of-type {
    margin: 0;
  }
  .fieldset > div {
    margin: 0.3em 0;
  }
  form[name="edituserform"] {
    margin: 0.5em 0;
  }
  #canvas {
    margin: 0 auto;
  }
  .searcher fieldset {
    margin: 0;
  }
  table {
    margin: 0 auto;
  }
  form[name="loginform"] div {
    display: inline-block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {

}
*/
@keyframes slide-in {
  from {
    translate: 0 -50vw;
  }
  to {
    translate: 0 0;
  }
}
@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 100%;
  }
}
#yesno {
  animation-duration: 1s;
  animation-name: slide-in;
}

form[name=updatefileinfo],
form[name=search],
form[name=uploadform] {
  background-color: var(--pale);
  border: solid 1px black;
  animation-duration: 1.5s;
  animation-name: grow;
}

/*# sourceMappingURL=main.css.map */
